{% extends 'base.html' %}
{% block title %}Enter scores for {{assessment.name}} assessment{% endblock %}

{% block body %}
  <div class="container-md">
    <div class="metabox">
      <h2>Assessment: {{assessment.name}}</h2>
      <p>
        <strong>Term</strong>: {{term}}<br/>
        <strong>Academic year</strong>: {{academic_year.year}}<br/>
        <strong>Grade</strong>: {{grade}}<br/>
      </p>
    </div>

    {% if students %}
    <form action="/assessment/{{assessment.assessment_id}}" method="POST" >
      <table class="table table-sm table-hover">
        <thead>
          <tr class="row">
            <th class="col-sm-2">Student ID</th>
            <th class="col-sm-2">First Name</th>
            <th class="col-sm-2">Last Name</th>
            <th class="col-sm-2">Score 
              <!-- Add info tooltip to remind teachers of valid scores -->
              <a href="#" style="text-decoration: none; color: red;" data-toggle="tooltip" 
                title="Acceptable score input are 'subA' and 'A'->'Z', case insensitive">
                <sup>
                  <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" 
                  class="bi bi-info-circle" viewBox="0 0 16 16" aria-label="Info">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                  </svg>
                </sup>
              </a>
            </th>
            <th class="col-sm-4">Exemption (if applicable)</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
            <tr class="row">
              <td class="col-sm-2">
                <input type="text" readonly class="form-control-plaintext" value="{{student.student_id}}" 
                name="student_id" aria-label="student id">
              </td>
              <td class="col-sm-2">
                  <input type="text" readonly class="form-control-plaintext" type="text" value="{{student.first_name}}" 
                  name="first_name" aria-label="Student first name" style="display: inline-block; width: auto;" >
              </td>
              <td class="col-sm-2">
                <input type="text" readonly class="form-control-plaintext" type="text" value="{{student.last_name}}" 
                name="last_name" aria-label="Student last name" style="display: inline-block; width: auto;" >
            </td>
              <td class="col-sm-2">
                  <!-- Built-in HTML input validation. -->
                  <input type="text" name="score" class="form-control" aria-describedby="assessmentScore" 
                  pattern="[Aa]|[Bb]|[Cc]|[Dd]|[Ee]|[Ff]|[Gg]|[Hh]|[Ii]|[Jj]|[Kk]|[Ll]|[Mm]|[Nn]|[Oo]|[Pp]|[Qq]|[Rr]|[Ss]|[Tt]|[Uu]|[Vv]|[Ww]|[Xx]|[Yy]|[Zz]|[Ss][Uu][Bb][Aa]" >
              </td>
              <td class="col-sm-4">
                <select class="form-select" name="exemption_id" aria-label="Dropdown to select exemption">
                  <option value="">Select exemption</option>
                  <option value="2">Absent for entire testing window</option>
                  <option value="3">Alternate assessment per IEP</option>
                </select>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="row">
        <button class="btn btn-block" type="submit" style="background-color: #F4CB06;">Save data</button>
        <input type="hidden" name="username" value="{{user.username}}">
        <input type="hidden" name="grade" value="{{grade}}">
        <input type="hidden" name="term" value="{{term}}">
      </div>
    </form>
    {% else %}
      <p>You do not have any students the selected grade and school this term.</p>
    {% endif %}
  </div>
{% endblock %}