{% extends 'base.html' %}
{% block title %}Entries for {{assessment.name}} assessment{% endblock %}

{% block body %}
  <div class="container-md">
    <div class="metabox">
      <h2>Assessment: {{assessment.name}}</h2>
      <p>
        <strong>Term</strong>: {{term}}<br/>
        <strong>Academic year</strong>: {{academic_year}}<br/>
        <strong>Grade</strong>: {{grade}}<br/>
        <strong>Benchmark</strong>: {{cutoff}}
      </p>
    </div>

    <table class="table table-sm table-striped table-hover">
      <thead>
        <tr>
          <th>Student ID</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Score</th>
          <th>Level</th>
          <th>Exemption</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in entries %}
          <tr>
            <td>{{entry.student_id}}</td>
            <td>{{entry.first_name}}</td>
            <td>{{entry.last_name}}</td>
            <td>{{entry.score}}</td>
            <td>{{entry.level}}</td>
            {% if entry.exemption_id == "2" %}
              <td>Absent for entire testing window</td>
            {% elif entry.exemption_id == "3" %}
              <td>Alternate assessment per IEP</td>
            {% else %}
              <td>{{entry.exemption_id}}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}