{% extends 'base.html' %}
{% block title %}Thing 4 Assessment - Home{% endblock %}

{% block body %}
  {% if session.get("username") %}
  
    {% block logout %}  
      <form action="/logout">
        <button class="btn btn-block" type="submit" style="background-color: #F4CB06;">Logout</button>
      </form>
    {% endblock %}
  
    <h2>Welcome {{session["username"]}}!</h1>

    {% if not school_grade %}
      <p>You do not have any students in the selected grade and school this term. If you have any questions please contact "The One."</p>
    {% else %}
      <form action="/assessment/" method="GET">
        
        <select name="assessment_id" class="btn dropdown-toggle" required>
          <option value="">Select assessment</option>
          {% for assessment in assessments %}
            <option value="{{assessment.assessment_id}}">{{assessment.name}}</option>
          {% endfor %}
        </select>
      
        <select name="school_grade" class="btn dropdown-toggle" required>
          {% if school_grade|length == 1 %}
            <option value={{school_grade[0][0]}},{{school_grade[0][2]}} selected>{{school_grade[0][1]}} grade {{school_grade[0][2]}}</option>
          {% else %}
            <option value="">Select school and grade</option>
            {% for n in range(school_grade|length) %}
              <option value={{school_grade[n][0]}},{{school_grade[n][2]}}>{{school_grade[n][1]}} grade {{school_grade[n][2]}}</option>
            {% endfor %}
          {% endif %}
        </select>
      
        <button class="btn btn-block" type="submit" style="background-color: #F4CB06;">Submit</button>
          
      </form>
    {% endif %}
  {% else %}

    <!-- Following section is from https://mdbootstrap.com/docs/standard/extended/login/#! -->
    <section class="vh-10" >
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem;" >
              <div class="row g-0">

                <div class="col-md-6 col-lg-5 d-none d-md-block" style="border-radius: 1rem; 
                  background-image: url('/static/img/leaves_pattern.svg'); background-repeat: repeat; opacity: 0.3">
                </div>
                
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black;" >

                    <form action="/login" method="POST">

                      <div class="d-flex align-items-center mb-3 pb-1">
                        <!-- <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i> -->
                      </div>

                      <h2 class="mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h2>

                      <div class="form-outline mb-3">
                        <input type="email" name="username" class="form-control" />
                        <label class="form-label" >Email address</label>
                      </div>

                      <div class="form-outline mb-4">
                        <input type="password" name="password" class="form-control" />
                        <label class="form-label" >Password</label>
                      </div>

                      <div class="pt-1 mb-4">
                        <button class="btn btn-block" type="submit" style="background-color: #F4CB06;">Login</button>
                      </div>

                      <!-- <a class="small text-muted" href="#!">Forgot password?</a>
                      <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="#!" style="color: #393f81;">Register here</a></p>
                      <a href="#!" class="small text-muted">Terms of use.</a>
                      <a href="#!" class="small text-muted">Privacy policy</a> -->
                    </form>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  {% endif %}
{% endblock %}