{% extends 'base.html' %}
{% block title %}Home: Assessment app{% endblock %}

{% block body %}
  {% if session.get("username") %}
    <h2>Welcome {{session["username"]}}!</h1>

    {% if not grades or not schools %}
      <p>
        You do not have any students the selected grade and school this term. If you have any questions please contact "The One."
      </p>
    {% else %}
      <form action="/assessment/" method="GET">
        <select name="assessment_name" required>
          <option value="">Select assessment</option>
          <option value="BAS">BAS</option>
          <option value="BAS_Spanish">BAS Spanish</option>
          <option value="TC_RR">TC Running R</option>
          <option value="TCW">TC Writing</option>
        </select>

        <select name="grade" required>
          {% if grades|length == 1 %}
            {% for grade in grades %}
              <option value={{grade}}>Grade {{grade}}</option>
            {% endfor %}
          {% else %}
            <option value="">Select grade</option>
            {% for grade in grades %}
              <option value={{grade}}>Grade {{grade}}</option>
            {% endfor %}
          {% endif %}
        </select>

        <select name="school_id" required>
          {% if schools|length == 1 %}
            {% for school in schools %}
              <option value={{school.school_id}}>{{school.name}}</option>
            {% endfor %}
          {% else %}
            <option value="">Select school</option>
            {% for school in schools %}
              <option value={{school.school_id}}>{{school.name}}</option>
            {% endfor %}
          {% endif %}
        </select>

        <input type="submit">
      </form>
    {% endif %}
    <form action="/logout">
      <p>
        <input type="submit" value="Logout">
      </p>
    </form>

  {% else %}
    <h2>Log In</h2>
    
    <form action="/login" method="POST">
      <p>
        Email <input type="text" name="username">
      </p>
      <p>
        Password <input type="password" name="password">
      </p>
      <p>
        <input type="submit" name="Login">
      </p>
    </form>

  {% endif %}
{% endblock %}