{% extends 'base.html' %}
{% block title %}Data entry page{% endblock %}

{% block body %}
  <h1>Welcome!</h1>


  <h2>Navigation</h2>
  <form action="/assessment/" method="GET">
    <select name="assessment_name">
      <!-- <option value="">Select assessment</option> -->
      <option value="bas">BAS</option>
      <option value="tc_rr">TC RR</option>
    </select>
    <input type="submit">
  </form>
  <!-- <ul>
    <li><a href="/bas">Enter BAS assessment scores</a></li>
    <li>View assessment scores</a></li>
  </ul> -->


  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit" name="Login">
    </p>
  </form>

  <!-- <form action="/logout" method="POST">
    <p>
      <input type="submit" value="Logout">
    </p>
  </form> -->


  <!-- <h2>Create an Account</h2>
  <form action="/users" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form> -->

{% endblock %}