{% extends 'base.html' %}
{% block title %}Results for {{assessment.name}} assessment{% endblock %}

{% block body %}

<h1>Assessment name: {{assessment.name}}</h1>

<h2>Hello {{user.first_name}} {{user.last_name}} {{user.username}}</h2>

    <table >
        <thead>
            <tr>
            
            <th>Student ID</th>
            <th>Score</th>
            <th>Exemption</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
            
            <td>{{entry.student_id}}</td>
            <td>{{entry.score}}</td>
            <td>{{entry.exemption_id}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
